<html lang="en">
  <body style="margin: 0 auto; font-family: Helvetica, sans-serif; color: #333333; text-align: center; max-width: 520px; padding: 0 20px;">
    <div style="text-align: center; padding: 75px 0;">
    </div>
    <div style="font-size: 16px; text-align: left;">
      <div style="line-height: 150%;">
        <div style="font-size: 20px;">Forgot your Template API password?</div>
        
        <div style="margin: 15px 0;">
          You may reset your account password by clicking the button below.
        </div>
        
      </div>
      <div>
        <a
          href="{{link}}"
          style="background:#007bff;
           padding: 9px;
           width: 200px;
           color:#fff;
           text-decoration: none;
           display: inline-block;
           font-weight: bold;
           text-align: center;
           cursor: pointer;
           letter-spacing: 0.5px;
           border-radius: 4px;"
          >Reset Password
        </a>
      </div>
      <div style="line-height: 150%;">
        <div style="color:#828282; margin: 15px 0 75px;">
          - Template API Team
        </div>
      </div>
    </div>
  </body>
</html>